
:root{
    --font-color:#303030;
    --light-green : #cfb995;
}

.main{
    /* margin-top: 60px; */
    padding: 20px 0px;
    text-align: center;
    height: 320px;
    background-image: url('../images/bitmap.png');
    
}

.main h1{
    font-size: 48px;
    color: var(--light-green);
    line-height: 1.5;
    letter-spacing: normal;
    font-weight: normal;
    height: fit-content;
    
}

.main p{
    margin-top: -20px;
    color: white;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 50px;
}

input[type=text]{
    font-size: 16px;
    width: 270px;
    border: 1px solid white;
    color: white;
    padding: 15px;
    padding-right: 100px;
    border-radius: 4px;
    background-color: transparent;
    transition: 150ms;
}
input[type=text]:focus{
    color: black;
    background-color: white;
    outline: none;
}
.search_icon
{
    position: relative;
    top: 7px;
    right: 30px;
    cursor: pointer;
}



.jokes_div{
    margin: auto;
    padding: 0px 10vw;
    background-color: whitesmoke;
}

.joke_options{

    display: flex;
    
    flex-wrap: wrap;
    padding: 40px 0px 30px 0px;

}

.joke_options p{
    width: 206px;
    margin-right: 20px;
    height: 20px;
    padding: 14px 0px;
    font-size: 14px;
    text-align: center;
    color: white;
    border-radius: 2px;
    cursor: pointer;
}


#adult{
   background-color: #ff5b5b;
}

#dad{
    background-color: #ff915b;
}

#christmas{
    background-color: #ffbe5b;
}

#job{
    background-color: #ffdf5b;
}

#birthday{
   
    background-color: #8fe360;
}
#social{
    background-color: #57e690;
}
#puns{
    background-color: #57dbe6;
}
#all{
    color: #57e690;
    border: 1px solid #57e690;
}


.joke_ref{
    font-size: 12px;
    width: fit-content;
    padding: 5px 20px;
    color: white;
    border-radius: 20px;
    background-color:#57e690 ;
}




/* jokes */



.jokes{
    display: flex;
    flex-wrap: wrap;
    padding: 20px 0px;
}



.card{
            
    background-color: white;
    min-height:228px;
    width: 350px;
    position: relative;
    padding: 16px 0px;
    margin-right: 30px;
    transition: 300ms;
    margin-bottom: 32px;
        }
.card:hover{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.card h3{         
    font-size: 16px;
    font-weight: 600;
    margin: 0 0 6px 16px;
    color: var(--font-color);

}
.card p{
    margin: 15px;
    font-size: 14px;
    color: var(--font-color);
}
.card a{
    text-decoration: none;
    color: black;
    position: absolute;
    bottom: 10px;
    right: 5vh;
}
.card i{
    position: absolute;
    bottom: -4px;
    right: 8px;
}





.joke_card{
    padding: 30px 150px;

    background-color: whitesmoke;
}




.joke_content{
    padding: 16px;
    height: 228px;
    margin: 2px 14px 8px 0px;
    width: 730px;

    background-color: white;
}

.joke_content h1{
    margin: 2px 14px 8px 0px;
    font-size: 40px;
    font-weight: 600;
    color: var(--light-green);
    line-height: 1.5;
}

.joke_content p{
    font-size: 14px;
    color: var(--font-color);
}
.btn{
    cursor: pointer;
    padding:5px 10px;
    border: 1px solid var(--light-green);
    color:#cfb995;
    background-color: white;
    float:right;
    margin-left: 10px;
    transition: 200ms;

}

.btn:hover{
    opacity: 2;
}



.back_arrow{
    width: 18px;
    margin-bottom: 18px;
    
}


@media only screen and (max-width: 640px){

    input[type=text]{
        font-size: 16px;
        width: 170px;
        border: 1px solid white;
        color: white;
        padding: 15px;
        padding-right: 100px;
        border-radius: 4px;
        background-color: transparent;
        transition: 150ms;
    }
}






